{
  "sourceMaps": true,
  "presets": ["env", "stage-2"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@safety-net": "./src",
        "@assertions": "./src/assertions",
        "@future": "./src/future",
        "@errors": "./src/errors"
      }
    }]
  ]
}
